{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Prework Hub</title>
    <link rel="stylesheet" href="{% static 'mini.min.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<header class="sticky">
    <a href="{% url 'videos:index' %}" class="logo">Prework</a>
    <a href="{% url 'videos:list_videos' 'calc' %}" class="button">Calculus</a>
    <a href="{% url 'videos:list_videos' 'stats' %}" class="button">Statistics</a>
</header>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>