{% extends 'base.html' %}

{% block title %}Prework Videos{% endblock %}

{% block content %}
    <div class="row">
        <h1>Prework Videos</h1>
    </div>
    <div class="row">
        <div class="card">
            <div class="section">
                <h2>Calculus<small>{{ calc.count }} video{{ calc.count|pluralize }}</small></h2>
                <p>10 most recent Calculus video{{ calc.count|pluralize }}</p>
            </div>
            <div class="section">
                <ul>
                    {% for video in calc %}
                        <li><a href="{% url 'prework:show_video' video.subject.name video.slug %}">{{ video.title }}</a> Class {{ video.class_date.day }} video {{ video.video_num }}</li>
                    {% endfor %}
                </ul>
                <p><a href="{% url 'prework:list_videos' 'calc' %}">View All</a></p>
            </div>
        </div>
        <div class="card">
            <div class="section">
                <h2>Statistics<small>{{ stats.count }} video{{ stats.count|pluralize }}</small></h2>
                <p>10 most recent Statistics video{{ stats.count|pluralize }}</p>
            </div>
            <div class="section">
                <ul>
                    {% for video in stats %}
                        <li><a href="{% url 'prework:show_video' video.subject.name video.slug %}">{{ video.title }}</a> Class {{ video.class_date.day }} video {{ video.video_num }}</li>
                    {% endfor %}
                </ul>
                <p><a href="{% url 'prework:list_videos' 'stats' %}">View All</a></p>
            </div>
        </div>
    </div>
{% endblock %}